# INTRO
Starting from the The Movie DataBase (TMDB) sample datasets, read the file tmdb_5000_movies.csv and the file tmdb_5000_credits.csv and import pandas, numpy and ast libraries.
(ast library helps to evaluate string into list)

In [1]:
#import libraries
import pandas as pd
import numpy as np
import re 
import ast
from datetime import datetime
import os
import collections

In [2]:
#read 2 csv, stored in the same folder of this code
movies = pd.read_csv(os.getcwd()+'/tmdb_5000_movies.csv', parse_dates = ["release_date"])
credits = pd.read_csv(os.getcwd()+'/tmdb_5000_credits.csv')

## QUESTION 1
For each movie, compute the number of cast members

In [3]:
#create a table of tuple, movie_id - array of cast members
movie_cast = credits.groupby(['movie_id']).sum()['cast']
movie_cast.head()

movie_id
5     [{"cast_id": 42, "character": "Ted the Bellhop...
11    [{"cast_id": 3, "character": "Luke Skywalker",...
12    [{"cast_id": 8, "character": "Marlin (voice)",...
13    [{"cast_id": 7, "character": "Forrest Gump", "...
14    [{"cast_id": 6, "character": "Lester Burnham",...
Name: cast, dtype: object

In [4]:
#save in a dictionary the results
conteggio = {}

#cycle the table and extract the number of cast members, saving them in the dictionary
for row in movie_cast.iteritems():
    conteggio[row[0]] = len(ast.literal_eval(row[1]))

#insert the results in the table credits
credits['cast_members']= credits.apply(lambda row: conteggio[(row['movie_id'])], axis=1)
credits.head()

,movie_id,title,cast,crew,cast_members
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",83
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",34
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",83
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",158
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",27

## QUESTION 2
How many movies do not have a homepage?

For this question, we use the movies database

We extract the index of the rows that have a missing title.
Then we use the fancy indexing.

In [5]:
null_idx = movies['homepage'].isnull()

In [6]:
len(movies[null_idx])

3091

## QUESTION 3
For each year, how many movies do not have a homepage?

In [7]:
#create the column year
movies['year'] = movies['release_date'].dt.year

In [8]:
#use the null_idx created before
movies_no_homepage = movies.apply(lambda x : x[null_idx])
movies_no_homepage.groupby('year').size()

year
1916.0      1
1925.0      1
1927.0      1
1929.0      2
1930.0      1
1932.0      1
1933.0      2
1934.0      1
1935.0      1
1936.0      2
1937.0      1
1938.0      2
1939.0      2
1940.0      4
1941.0      1
1942.0      1
1944.0      2
1945.0      4
1946.0      3
1947.0      3
1948.0      3
1949.0      2
1950.0      1
1951.0      3
1952.0      4
1953.0      4
1954.0      4
1955.0      2
1956.0      3
1957.0      2
         ...
1987.0     29
1988.0     28
1989.0     28
1990.0     24
1991.0     29
1992.0     29
1993.0     44
1994.0     50
1995.0     64
1996.0     86
1997.0    102
1998.0    119
1999.0    145
2000.0    145
2001.0    159
2002.0    164
2003.0    131
2004.0    149
2005.0    149
2006.0    144
2007.0     92
2008.0     97
2009.0     85
2010.0     54
2011.0     43
2012.0     92
2013.0    127
2014.0    157
2015.0    110
2016.0     31
Length: 89, dtype: int64

## QUESTION 4
Extract the domain of each homepage.

To do this task I use the regex expression and the notnull index; I create a new column in the table Movies called domain, in which I store the domain of the homepage

In [9]:
regex = r'(?:[a-zA-Z0-9](?:[a-zA-Z0-9\-]{,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}'
notnull_idx = movies['homepage'].notnull()
movies['domain'] = movies['homepage'][notnull_idx].apply(lambda x: re.findall(regex, x)[0])
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,year,domain
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2009.0,www.avatarmovie.com
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,2007.0,disney.go.com
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,2015.0,www.sonypictures.com
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,2012.0,www.thedarkknightrises.com
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,2012.0,movies.disney.com

## QUESTION 5
Extract a set of normalized tables. That is, each entry of a normalized table must contain exactly one value (not a list or a dictionary).

In [10]:
def isunique(df):
    fields = list(df)
    results = []
    for x in range(0, len(fields)):
        results.append ((fields[x] , df[fields[x]].is_unique))
    return results

In [11]:
isunique(movies)

[('budget', False),
 ('genres', False),
 ('homepage', False),
 ('id', True),
 ('keywords', False),
 ('original_language', False),
 ('original_title', False),
 ('overview', False),
 ('popularity', False),
 ('production_companies', False),
 ('production_countries', False),
 ('release_date', False),
 ('revenue', False),
 ('runtime', False),
 ('spoken_languages', False),
 ('status', False),
 ('tagline', False),
 ('title', False),
 ('vote_average', False),
 ('vote_count', False),
 ('year', False),
 ('domain', False)]

In the data frame movies, there is only one unique column, movie_id

In [13]:
genres_norm = movies[['id', 'genres']]

In [14]:
genres_norm.head()

       id                                             genres
0   19995  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1     285  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  206647  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3   49026  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4   49529  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

In [15]:
#this function turns lists and dictionary rows into columns in a new data frame.
def in_table(df, _id, _dict):
    df_norm = pd.DataFrame()
    df_norm['movie_id']=''
    
    #create the df normalized with the columns setted to ''
    list_keys = ast.literal_eval(df[_dict][0])[0].keys()
    for key in list_keys:
        df_norm[key] = ''
    
    for j in range(0, len(df)):
        if ast.literal_eval(df[_dict][j]) != []:
            list_keys = ast.literal_eval(df[_dict][j])[0].keys()
            list_dict = ast.literal_eval(df[_dict][j])
            for i in range(0, len(list_dict)):
                lst = []
                lst.append(df[_id][j])
                for key in list_keys:
                    lst.append(list_dict[i][key])
                df_norm.loc[len(df_norm)] = lst
    return df_norm

In [16]:
genres = in_table(movies, 'id', 'genres')

In [17]:
genres.head()

  movie_id   id             name
0    19995   28           Action
1    19995   12        Adventure
2    19995   14          Fantasy
3    19995  878  Science Fiction
4      285   12        Adventure

In [18]:
keywords = in_table(movies, 'id', 'keywords')

In [19]:
keywords.head()

  movie_id    id           name
0    19995  1463  culture clash
1    19995  2964         future
2    19995  3386      space war
3    19995  3388   space colony
4    19995  3679        society

In [20]:
production_companies = in_table(movies, 'id', 'production_companies')

In [21]:
production_companies.head()

  movie_id                                    name   id
0    19995                 Ingenious Film Partners  289
1    19995  Twentieth Century Fox Film Corporation  306
2    19995                      Dune Entertainment  444
3    19995                Lightstorm Entertainment  574
4      285                    Walt Disney Pictures    2

In [22]:
production_countries = in_table(movies, 'id', 'production_countries')

In [23]:
production_countries.head()

  movie_id iso_3166_1                      name
0    19995         US  United States of America
1    19995         GB            United Kingdom
2      285         US  United States of America
3   206647         GB            United Kingdom
4   206647         US  United States of America

In [24]:
spoken_languages = in_table(movies, 'id', 'spoken_languages')

In [25]:
spoken_languages.head()

  movie_id iso_639_1      name
0    19995        en   English
1    19995        es   Español
2      285        en   English
3   206647        fr  Français
4   206647        en   English

In [26]:
movies_norm = movies.drop(["tagline", "title", "year", "domain", "genres", "keywords", "production_companies", 
                          "production_countries", "spoken_languages"],axis=1)

In [27]:
movies_norm.head()

,budget,homepage,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,vote_average,vote_count
0,237000000,http://www.avatarmovie.com/,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Released,7.2,11800
1,300000000,http://disney.go.com/disneypictures/pirates/,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,Released,6.9,4500
2,245000000,http://www.sonypictures.com/movies/spectre/,206647,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,148.0,Released,6.3,4466
3,250000000,http://www.thedarkknightrises.com/,49026,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,165.0,Released,7.6,9106
4,260000000,http://movies.disney.com/john-carter,49529,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,132.0,Released,6.1,2124

In [28]:
homepage_norm = movies[['homepage', 'domain']]
homepage_norm.head()

                                       homepage                      domain
0                   http://www.avatarmovie.com/         www.avatarmovie.com
1  http://disney.go.com/disneypictures/pirates/               disney.go.com
2   http://www.sonypictures.com/movies/spectre/        www.sonypictures.com
3            http://www.thedarkknightrises.com/  www.thedarkknightrises.com
4          http://movies.disney.com/john-carter           movies.disney.com

In [29]:
title_norm = movies[['title', 'tagline']]
title_norm.head()

,title,tagline
0,Avatar,Enter the World of Pandora.
1,Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins."
2,Spectre,A Plan No One Escapes
3,The Dark Knight Rises,The Legend Ends
4,John Carter,"Lost in our world, found in another."

In this section, I splitted the table Movies, creating 8 normalized tables.
This tables are:
    Genres
    Keywords
    Production_Companies
    Production_Countries
    Spoken_Languages
    Homepage_Norm
    Title_Norm
    Movies_Norm
    
Movies_norm is the normalized table without the bad functional dependencies.
The tables "Title_Norm" and "Homepage_Norm" are obtained directly from the data frame Movies.
The other 5 data frames are obtained using the function in_table, which turns lists and dictionary rows into columns in a new data frame.

## QUESTION 6
For each movie, compute the gross margin (difference between revenue and budget)

In [36]:
movies['gross margin'] = movies['revenue'] - movies['budget']
movies[['original_title', 'budget', 'revenue', 'gross margin']].head()

,original_title,budget,revenue,gross margin
0,Avatar,237000000,2787965087,2550965087
1,Pirates of the Caribbean: At World's End,300000000,961000000,661000000
2,Spectre,245000000,880674609,635674609
3,The Dark Knight Rises,250000000,1084939099,834939099
4,John Carter,260000000,284139100,24139100

## QUESTION 7
For each movie, compute the number of crew members

In [37]:
#create a dictionary in which I store the id of each crew member
dict_crew = {}
for i in range(0, len(credits)):
    key = credits['movie_id'][i]
    dict_crew[key] = []
    list = ast.literal_eval(credits['crew'][i])
    x = 0
    for x in range(0, len(list)):
        id_crew = list[x]['id']
        if id_crew not in dict_crew[key]:
            dict_crew[key].append(id_crew)

In [38]:
#I use the dictionary created previously to count the crew members for each film ID and store the 
#result in the table Credits
credits['crew_members']= credits.apply(lambda row: len(dict_crew[(row['movie_id'])]), axis=1)
credits.head()

,movie_id,title,cast,crew,cast_members,crew_members
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",83,146
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",34,32
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",83,150
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",158,210
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",27,129

## QUESTION 8
For each movie, compute the number of directors

In [39]:
#Create a dictionary in which I store the number of directors for each film
dict_director = {}
for i in range(0, len(credits)):
    key = credits['movie_id'][i]
    dict_director[key] = 0
    list = ast.literal_eval(credits['crew'][i])
    x = 0
    for x in range(0, len(list)):
        director = list[x]['job']
        if director == "Director":
            dict_director[key] += 1

In [40]:
#I use the dictionary created previously to add for each film in the table Credits the number of directors, 
#in the column dir_members
credits['dir_members']= credits.apply(lambda row: dict_director[(row['movie_id'])], axis=1)
credits.head()

,movie_id,title,cast,crew,cast_members,crew_members,dir_members
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",83,146,1
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",34,32,1
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",83,150,1
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",158,210,1
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",27,129,1

## QUESTION 9
For each language, compute the number of movies where such language is spoken.

In [41]:
#dict_language is a dictionary wich contains all languages spoken in movies db, and for each language the number of 
#films
dict_language = {}
for i in range(0, len(movies)):
    list = ast.literal_eval(movies['spoken_languages'][i])
    x = 0
    for x in range(0, len(list)):
        key = list[x]['iso_639_1']
        if key not in dict_language:
            dict_language[key] = 1
        else:
            dict_language[key] += 1

dict_language

{'af': 7,
 'am': 1,
 'ar': 67,
 'bg': 3,
 'bm': 1,
 'bn': 1,
 'bo': 4,
 'br': 1,
 'bs': 2,
 'ca': 1,
 'ce': 1,
 'cn': 48,
 'co': 1,
 'cs': 38,
 'cy': 2,
 'da': 14,
 'de': 262,
 'dz': 1,
 'el': 20,
 'en': 4485,
 'eo': 2,
 'es': 351,
 'et': 2,
 'fa': 12,
 'fi': 3,
 'fr': 437,
 'ga': 6,
 'gd': 6,
 'gl': 1,
 'he': 33,
 'hi': 48,
 'hr': 4,
 'hu': 42,
 'hy': 4,
 'id': 2,
 'is': 5,
 'it': 188,
 'iu': 1,
 'ja': 97,
 'ka': 1,
 'kk': 2,
 'km': 2,
 'ko': 31,
 'ku': 1,
 'kw': 1,
 'ky': 1,
 'la': 52,
 'mi': 2,
 'ml': 2,
 'mn': 2,
 'ne': 1,
 'nl': 10,
 'no': 13,
 'nv': 1,
 'ny': 1,
 'pa': 4,
 'pl': 53,
 'ps': 2,
 'pt': 68,
 'ro': 13,
 'ru': 185,
 'sa': 1,
 'sh': 4,
 'si': 1,
 'sk': 2,
 'sl': 1,
 'so': 3,
 'sq': 4,
 'sr': 6,
 'st': 1,
 'sv': 22,
 'sw': 8,
 'ta': 4,
 'te': 1,
 'th': 40,
 'tl': 1,
 'to': 1,
 'tr': 18,
 'uk': 9,
 'ur': 15,
 'vi': 17,
 'wo': 1,
 'xh': 4,
 'xx': 2,
 'yi': 8,
 'zh': 107,
 'zu': 4}

## QUESTION 10
For each company and each decade, compute the overall revenue

In [42]:
# add field decade and calculate the field in the table Movies
movies['decade'] = pd.to_datetime(movies['release_date'],format='%d/%m/%Y').dt.year // 10

In [43]:
#dict_company is a dictionary in which the key is the decade and the value is an another dictionary; the key is 
#company ID (name) and the value is the revenue associated to the company
dict_company = {}
for i in range(0, len(movies)):
    list = ast.literal_eval(movies['production_companies'][i])
    x = 0
    for x in range(0, len(list)):
        key = str(list[x]['id'])+" "+list[x]['name']
        decade = movies['decade'][i]
        #name = list[x]['name']
        
        if decade not in dict_company:
            dict_company[decade] = {key : movies['revenue'][i]}
        else:
            if key not in dict_company[decade]:
                dict_company[decade][key] = movies['revenue'][i]
            else:
                dict_company[decade][key] += movies['revenue'][i]

In [44]:
dict_company[192]

{'12372 Universum Film (UFA)': 650422,
 '4 Paramount Pictures': 650422,
 '4903 Nero Films': 0,
 '8411 Metro-Goldwyn-Mayer (MGM)': 26358000}

## QUESTION 11
For each decade, compute the company with maximum revenue

In [45]:
#dict_decade is a dictionary in which the key is the decade and the value is an another dictionary; the key is the
#company id with the maximum revenue and the value is the maximum revenue of the company
dict_decade = {}
for decade in dict_company:
    maxi = 0
    id_max = ""
    for chiave, valore in dict_company[decade].items():
        if valore > maxi:
            maxi = valore
            id_max = chiave
    
    dict_decade[decade] = {id_max : maxi}

In [46]:
dict_decade

{191.0: {'1307 Triangle Film Corporation': 8394751},
 192.0: {'8411 Metro-Goldwyn-Mayer (MGM)': 26358000},
 193.0: {'1553 Selznick International Pictures': 400176459},
 194.0: {'3166 Walt Disney Productions': 351747150},
 195.0: {'8411 Metro-Goldwyn-Mayer (MGM)': 73770324},
 196.0: {'7576 Eon Productions': 598134765},
 197.0: {'60 United Artists': 1392271577},
 198.0: {'4 Paramount Pictures': 4431144486},
 199.0: {'4 Paramount Pictures': 8824732067},
 200.0: {'6194 Warner Bros.': 22897419289},
 201.0: {'33 Universal Pictures': 15521006459}}

## QUESTION 12
In each year, how many movies have revenue smaller than the budget?

In [47]:
movies_filtered = movies[['year', 'title', 'revenue', 'budget']]
movies_grouped = movies_filtered.groupby(['year', 'title']).apply(lambda x: 1 
                                                                  if float(x['revenue']) < float(x['budget']) else 0)
movies_grouped_year = movies_grouped.groupby('year').sum()

In [48]:
movies_grouped_year

year
1916.0     0
1925.0     0
1927.0     1
1929.0     0
1930.0     0
1932.0     0
1933.0     0
1934.0     0
1935.0     0
1936.0     0
1937.0     0
1938.0     0
1939.0     0
1940.0     0
1941.0     0
1942.0     0
1944.0     0
1945.0     0
1946.0     0
1947.0     1
1948.0     1
1949.0     0
1950.0     0
1951.0     0
1952.0     0
1953.0     0
1954.0     1
1955.0     0
1956.0     0
1957.0     0
          ..
1988.0     4
1989.0     6
1990.0     4
1991.0    10
1992.0     9
1993.0    15
1994.0    15
1995.0    19
1996.0    32
1997.0    33
1998.0    39
1999.0    55
2000.0    53
2001.0    56
2002.0    71
2003.0    47
2004.0    61
2005.0    55
2006.0    63
2007.0    55
2008.0    64
2009.0    78
2010.0    65
2011.0    70
2012.0    52
2013.0    62
2014.0    59
2015.0    67
2016.0    26
2017.0     0
Length: 90, dtype: int64

# The following part of the exercise must be done only by groups of two or three people

## QUESTION 1
Distribute the revenue according to the order of appearance in a movie. Assume that the i-th actor contributes twice as much as the (i+1)-th actor to the revenue.

In [49]:
#add revenue in credits table
#to do this, I create a dictionary with key MovieID, and for value the revenue associated
dict_revenue = {}
for row in range(0, len(movies)):
    dict_revenue[movies["id"][row]] = movies["revenue"][row]

In [50]:
#I use the dictionary to add in the table credits the column Revenue
credits['revenue']= credits.apply(lambda row: dict_revenue[(row['movie_id'])], axis=1)

In [51]:
#dict_cast is a dictionary in which the key is the movie ID and the value is a list of dictionaries.
#Each dictionary is filled with the values of the column 'cast' in the table Credits.
#In this dictionary there are gender, id , name, order and revenue values of each member of the cast.

dict_cast = {}
for i in range(0, len(credits)):
    key = credits['movie_id'][i]
    dict_cast[key] = []
    list = ast.literal_eval(credits['cast'][i])
    
    x = 0
    num = 0.0
    
    for j in range(0, len(list)):
        #number used to divide the total revenue to obtain the lower value.
        num = 2**j+num
    
    #calculate the lower value of revenue for person
    lower = credits['revenue'][i] / num
    #calculate the maximum value of revenue for person
    maximum = lower*(2**len(list))
    
    for x in range(0, len(list)):
        id_cast = list[x]['id'] 
        if id_cast not in dict_cast[key]:
            #recalculate the maximum value
            maximum = maximum/2
            dict_cast[key].append({'id':id_cast, 'name':list[x]['name'], 'gender':list[x]['gender'],
                                   'order':list[x]['order'], 'revenue':maximum})

/Users/emanuelecarnati/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:19: RuntimeWarning: invalid value encountered in true_divide
/Users/emanuelecarnati/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:19: RuntimeWarning: divide by zero encountered in true_divide

In [52]:
#check the values
credits[credits['movie_id']==300673]

,movie_id,title,cast,crew,cast_members,crew_members,dir_members,revenue
621,300673,The Finest Hours,"[{""cast_id"": 0, ""character"": ""Bernie Webber"", ...","[{""credit_id"": ""56e4d210c3a3685aa8004f7d"", ""de...",22,91,1,52099090

In [53]:
#check the values
somma = 0.0
for i in range(0, len(dict_cast[300673])):
    somma = somma + dict_cast[300673][i]["revenue"]

somma

52099090.0

In [54]:
dict_cast[300673]

[{'gender': 2,
  'id': 62064,
  'name': 'Chris Pine',
  'order': 0,
  'revenue': 26049551.210696984},
 {'gender': 2,
  'id': 1893,
  'name': 'Casey Affleck',
  'order': 1,
  'revenue': 13024775.605348492},
 {'gender': 2,
  'id': 11107,
  'name': 'Ben Foster',
  'order': 2,
  'revenue': 6512387.802674246},
 {'gender': 2,
  'id': 8783,
  'name': 'Eric Bana',
  'order': 3,
  'revenue': 3256193.901337123},
 {'gender': 1,
  'id': 302165,
  'name': 'Holliday Grainger',
  'order': 4,
  'revenue': 1628096.9506685615},
 {'gender': 2,
  'id': 40543,
  'name': 'John Ortiz',
  'order': 5,
  'revenue': 814048.47533428075},
 {'gender': 0,
  'id': 59219,
  'name': 'Kyle Gallner',
  'order': 6,
  'revenue': 407024.23766714038},
 {'gender': 2,
  'id': 37154,
  'name': 'John Magaro',
  'order': 7,
  'revenue': 203512.11883357019},
 {'gender': 2,
  'id': 95047,
  'name': 'Graham McTavish',
  'order': 8,
  'revenue': 101756.05941678509},
 {'gender': 2,
  'id': 53259,
  'name': 'Michael Raymond-James',
  'order': 9,
  'revenue': 50878.029708392547},
 {'gender': 0,
  'id': 1078613,
  'name': 'Beau Knapp',
  'order': 10,
  'revenue': 25439.014854196274},
 {'gender': 2,
  'id': 40039,
  'name': 'Josh Stewart',
  'order': 11,
  'revenue': 12719.507427098137},
 {'gender': 2,
  'id': 21132,
  'name': 'Abraham Benrubi',
  'order': 12,
  'revenue': 6359.7537135490684},
 {'gender': 2,
  'id': 1251875,
  'name': 'Keiynan Lonsdale',
  'order': 13,
  'revenue': 3179.8768567745342},
 {'gender': 1,
  'id': 993774,
  'name': 'Rachel Brosnahan',
  'order': 14,
  'revenue': 1589.9384283872671},
 {'gender': 0,
  'id': 13138,
  'name': 'Benjamin Koldyke',
  'order': 15,
  'revenue': 794.96921419363355},
 {'gender': 0,
  'id': 1232599,
  'name': 'Matthew Maher',
  'order': 16,
  'revenue': 397.48460709681677},
 {'gender': 0,
  'id': 1750078,
  'name': 'Jesse Gabbard',
  'order': 17,
  'revenue': 198.74230354840839},
 {'gender': 2,
  'id': 1168858,
  'name': 'Alexander Cook',
  'order': 18,
  'revenue': 99.371151774204193},
 {'gender': 0,
  'id': 1750079,
  'name': 'Danny Connelly',
  'order': 19,
  'revenue': 49.685575887102097},
 {'gender': 0,
  'id': 1732326,
  'name': 'Angela Hope Smith',
  'order': 20,
  'revenue': 24.842787943551048},
 {'gender': 0,
  'id': 928638,
  'name': 'John Franchi',
  'order': 21,
  'revenue': 12.421393971775524}]

The dictionary contains the revenue distributed according to the order of appereance in the movie. For viewing reasons, I decided to diplay only the cast of the film I checked the value before.

## QUESTION 2
For each actor find the total revenue attributed to him/her.

In [55]:
#dict_actors is a dictionary in which the key is the ID actor, the name and the gender, the value is the 
#revenue associated to him/her
#I take the values from the dictionary dict_cast, created previously.
dict_actors = {}
for i in range(0, len(credits)):
    movie_id = credits['movie_id'][i]
    
    for x in range(0, len(dict_cast[movie_id])):
        id_actor = (dict_cast[movie_id][x]['id'], dict_cast[movie_id][x]['name'], dict_cast[movie_id][x]['gender'])
        if id_actor not in dict_actors:
            dict_actors[id_actor]=dict_cast[movie_id][x]['revenue']
        else:
            dict_actors[id_actor] += dict_cast[movie_id][x]['revenue']

In [56]:
count = 0
for key, value in dict_actors.items():
    count = count + 1
    print ( key, value )
    if count == 6:
        break

(65731, 'Sam Worthington', 2) 1788954719.95
(8691, 'Zoe Saldana', 1) 1065218780.09
(10205, 'Sigourney Weaver', 1) 695238575.62
(32747, 'Stephen Lang', 2) 183014005.154
(17647, 'Michelle Rodriguez', 1) 293154457.823
(1771, 'Giovanni Ribisi', 2) 165222991.088

The dictionary contains the total revenue distributed to actor

## QUESTION 3
Find the actor that is responsible for the most overall revenue.

In [57]:
#sort the previously created dictionary
dict_sorted = sorted(dict_actors.items(), key=lambda kv: kv[1], reverse=True)

In [58]:
count = 0
for key, value in sorted(dict_actors.items(), key=lambda kv: kv[1], reverse=True):
    count = count + 1
    print ( key, value )
    if count == 6:
        break

(500, 'Tom Cruise', 2) 3976119762.06
(31, 'Tom Hanks', 2) 3800124342.96
(3223, 'Robert Downey Jr.', 2) 3631739495.78
(85, 'Johnny Depp', 2) 3511521291.69
(2888, 'Will Smith', 2) 3320088979.61
(7399, 'Ben Stiller', 2) 2833072401.82

Tom Cruise is the actor responsible for the most overall revenue

# The following part of the exercise must be done only by groups of three people

## QUESTION 1
For each movie, compute the ratio between males and females in the cast

In [59]:
#dict_gender is a dictionary in which the key is the movieID, the value is an another dictionary.
#In this dictionary are stored the number of females, males and the ratio male/female for each film.
#The number of females and males are calculated from the column cast of the table Credits.

dict_gender = {}
for i in range(0, len(credits)):
    key = credits['movie_id'][i]
    list = ast.literal_eval(credits['cast'][i])
    
    x = 0
    male = 0
    female = 0
    
    for x in range(0, len(list)):
        gender = list[x]['gender'] 
        if gender == 2:
            male = male + 1
        else:
            female = female + 1
    if male != 0 and female != 0:
        dict_gender[key] = {'male':male, 'female':female, 'ratio':male/female}
    else:
        dict_gender[key]= {'male':male, 'female':female, 'ratio':0}

In [60]:
count = 0
for key, value in dict_gender.items():
    count = count + 1
    print ( key, value )
    if count == 6:
        break

19995 {'male': 20, 'female': 63, 'ratio': 0.31746031746031744}
285 {'male': 25, 'female': 9, 'ratio': 2.7777777777777777}
206647 {'male': 55, 'female': 28, 'ratio': 1.9642857142857142}
49026 {'male': 73, 'female': 85, 'ratio': 0.8588235294117647}
49529 {'male': 19, 'female': 8, 'ratio': 2.375}
559 {'male': 33, 'female': 110, 'ratio': 0.3}

## QUESTION 2
For each movie, compute the ratio between the attributed revenue of males and females in the cast

In [61]:
#dict_ratio_revenue is a dictionary in which the key is the movieID and the value is an another dictionary.
#In this dictionary are stored, for each film, the attributed revenue for females and males in the cast and the 
#ratio between male and female revenue

dict_ratio_revenue = {}
for i in range(0, len(credits)):
    key = credits['movie_id'][i]
    dict_ratio_revenue[key] = {}
    
    revenue_males = 0.0
    revenue_females = 0.0
    
    for x in range(0, len(dict_cast[key])):
        if dict_cast[key][x]['gender'] == 2:
            revenue_males = revenue_males + dict_cast[key][x]['revenue']
        else:
            revenue_females = revenue_females + dict_cast[key][x]['revenue']
    
    #test if revenue_males and revenue_females is 0
    if revenue_males != 0 and revenue_females != 0:
        dict_ratio_revenue[key] = {'revenue_females':revenue_females, 'revenue_males':revenue_males, 
                                   'ratio':revenue_males/revenue_females}
    else:
        dict_ratio_revenue[key] = {'revenue_females':revenue_females, 'revenue_males':revenue_males, 'ratio':0}

In [62]:
count = 0
for key, value in dict_ratio_revenue.items():
    count = count + 1
    print ( key, value )
    if count == 6:
        break

19995 {'revenue_females': 1143537105.685409, 'revenue_males': 1644427981.3145907, 'ratio': 1.438018909171259}
285 {'revenue_females': 120597576.69791564, 'revenue_males': 840402423.30208433, 'ratio': 6.9686509987444012}
206647 {'revenue_females': 144897258.67188865, 'revenue_males': 735777350.3281114, 'ratio': 5.077924572708695}
49026 {'revenue_females': 85850359.50454126, 'revenue_males': 999088739.4954586, 'ratio': 11.637560346414267}
49529 {'revenue_females': 106702832.39204983, 'revenue_males': 177436267.60795018, 'ratio': 1.6629011960620692}
559 {'revenue_females': 244612172.25424603, 'revenue_males': 646259453.7457538, 'ratio': 2.641975858315186}

## QUESTION 3
For each director, compute the average (among all movies he/she has directed) of the ratio found in the previous point.

In [63]:
#dict_directors_film is a dictionary in which the key is the Director ID and Name; the value is a list of movies
#in which the director has worked

dict_directors_film = {}
for i in range(0, len(credits)):
    movie_id = credits['movie_id'][i]
    
    list = ast.literal_eval(credits['crew'][i])
    
    x = 0
    
    for x in range(0, len(list)):
        work = list[x]['job']
        if work == "Director":
            key = (list[x]['id'], list[x]['name'])
            if key not in dict_directors_film.keys():
                dict_directors_film[key] = []
            
            dict_directors_film[key].append(movie_id)

In [64]:
#dict_directors_film_ratio is a dictionary, in which the key is the tuple (ID, name) of the director and the value is 
#an another dictionary, which contains the number of films, the sum of the ratio calculated previously and the
#average of this ratio.
#To calculate this attributes, I used the dict_directors_film and dict_ratio_revenue dictionaries.

dict_directors_film_ratio = {}

for key, value in dict_directors_film.items():
    dict_directors_film_ratio[key] = {}
    
    ratio_sum = 0.0
    counter = 0
    
    for i in range(len(value)):
        counter = counter+1
        ratio_sum = ratio_sum + dict_ratio_revenue[value[i]]['ratio']

    dict_directors_film_ratio[key] = {'n.film':counter, 'sum of ratio':ratio_sum, 'ratio_avg' : ratio_sum/counter}

In [65]:
count = 0
for key, value in dict_directors_film_ratio.items():
    count = count + 1
    print ( key, value )
    if count == 6:
        break

(2710, 'James Cameron') {'n.film': 7, 'sum of ratio': 17.002272253834715, 'ratio_avg': 2.4288960362621022}
(1704, 'Gore Verbinski') {'n.film': 7, 'sum of ratio': 50.883922273035282, 'ratio_avg': 7.2691317532907549}
(39, 'Sam Mendes') {'n.film': 7, 'sum of ratio': 4246.0962043478139, 'ratio_avg': 606.58517204968769}
(525, 'Christopher Nolan') {'n.film': 8, 'sum of ratio': 79.975445665134146, 'ratio_avg': 9.9969307081417682}
(7, 'Andrew Stanton') {'n.film': 4, 'sum of ratio': 7.9752744772738886, 'ratio_avg': 1.9938186193184722}
(7623, 'Sam Raimi') {'n.film': 11, 'sum of ratio': 14.739191517048031, 'ratio_avg': 1.339926501549821}

## QUESTION 4
Find the director that has the highest average computed in the previous point.

In [66]:
sorted_dictionary = sorted(dict_directors_film_ratio.items(), key=lambda kv: kv[1]["ratio_avg"], reverse=True)

In [67]:
sorted_dictionary[0]

((578, 'Ridley Scott'),
 {'n.film': 16,
  'ratio_avg': 536870919.86986852,
  'sum of ratio': 8589934717.9178963})

The Director that has the highest average computed in the previous point is Ridley Scott, with a value of
ratio 536870919,86.